body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1C202D;
    background-image: linear-gradient(180deg, #030305, #11131D);
    padding: 10px;
    min-height: 100vh;
    padding-top: 30px;
}


.card {
    max-width: 300px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    border-radius: 4px;
    width: 248px;
    height: 140px;
    overflow: hidden;
    background-color: black;
    padding: 0px;
}

.card:hover {
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05, 1.05);
    transition-duration: 300ms;
    transition-property: transform, box-shadow, border-color;
    transition-timing-function: ease-out;
    border: 4px solid rgba(249, 249, 249, 0.8);
}

.card:hover::after {
    border: 4px solid rgba(249, 249, 249, 0.8);
}

.card .card-reveal {
    padding: 10px;
    text-align:left;
    overflow: hidden;
    background-color: rgba(249, 249, 249, 0.85);
    font-size: 14px;
    /* transform: scale(2, 2); */
}

.card .card-title {
    font-size: 18px;
    font-weight: 300;
}



.content {
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.fas {
    padding-left: 10px;
}

h1 {
    color: #f9f9f9;
    font-size: 24px;
}

.custom-button{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    /* width: 100px; */
    height: 25px;
    margin-left: 30px;
    font-size: 15px;
    vertical-align: top;
    transition-duration: 100ms;
    transition-property: font-size, border-bottom;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-bottom: 0px white solid;
    /* border-top: 2px rgba(0,0,0,0) solid; */
    text-align: bottom;
}

.custom-button:hover {
    font-size: 18px;
    border-bottom: 2px white solid;
    /* border-top: 0px white solid; */
}

.align-bot {

}


.noStyleLink {
    font-size: 25px;
    color: #f9f9f9;
    padding: 10px;
}

.noStyleLink:hover {
    font-size: 30px;
    
}

.b-link {
    display: inline-block;
    vertical-align: bottom;
    height: 40px;
    width: 50px;
    text-align:bottom;
    position: relative;
}

.sel {
    color:rgb(2, 141, 255); 
    font-size: 20px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.sel:hover{
    opacity: .6;

}



/*-------------------- LEAVES --------------------*/
body {
    margin: 0px;
}

#stats {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: right;
    z-index: 2;
}

#root {
    background-color: pink;
    margin-left: 15%;
    min-height: 100vh;
    width: 70%;
    z-index: 1;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#canvas2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


.selection {
    width: 25px;
    height: 25px;
    /* background-color: rgba(255,255,255,.25); */
    border-radius: 20%;
    /* border: rgba(255,255,255,.5) solid 2px; */
    cursor: pointer;
}

.selection:hover {
    background-color: rgba(255,255,255,.2);
    transition-duration: 100ms;
    border-bottom: rgba(255,255,255,.8) solid 2px;
    transition-property: transform, background-color, border;
    transition-timing-function: ease-out;
}


.sel-image {
    width: 26px;
    height: 26px;
    /* margin-left: px; */
    margin-top: -2px;
}

#options {
    float: right;
    display: none;
}

#active {
    float: right;
}